@import "../../vars.css";

.container{
    margin: 70px auto 0;
    width: min(1200px, 90%);
    color: var(--color-text);
}
.title{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.projects{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .container {
        width: 94%;
    }

    .title {
        font-size: 28px;
    }

    .projects {
        margin-top: 20px;
    }
}

@media screen and (max-width: 650px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 14px;
    }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
    .container {
        width: 94%;
    }

    .title {
        font-size: 24px;
    }
}