
@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 49px auto 0;
  width: min(1200px, 90%);
  z-index: 1;
  color: var(--color-text);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
    display: flex;
    font-size: 72px;
    font-weight: 900;
    font-family: var(--font-roboto);
    color: white; 
  }

.animatedText {
  font-size: 60px;
  font-weight: 800;
  font-family: var(--font-roboto);
}
  
  
.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  margin-top: 30px;
}


.contactBtn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 700;
    border: 2px solid   rgb(25, 55, 109);  
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;

}
.animate{
    background: rgb(25, 55, 109);
    height: 100%;
    width: 0;
    border-radius: 30px;
    left: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;
    transition: 0.5s;

}
.contactBtn:hover .animate{
    width: 100%;

}
.contactBtn:hover {
    border: none;
} 


.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
  .heroImg {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 36px;
  }

  .animatedText {
    font-size: 32px;
  }

  .description {
    font-size: 18px;
    line-height: 1.5;
  }

  .contactBtn {
    width: 165px;
    padding: 11px 0;
    margin: 10px 6px;
    font-size: 15px;
  }
  .container{
    margin-top: 20px;
  }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
  .title {
    font-size: 30px;
  }

  .animatedText {
    font-size: 26px;
  }

  .description {
    font-size: 16px;
  }

  .contactBtn {
    width: 150px;
    padding: 10px 0;
    margin: 8px 4px;
    font-size: 13px;
  }
  .container{
    margin-top: 10px;
  }
}


